body {
    height: 100vh;
}


*,
body,
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    color: hsl(240, 38%, 20%);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 55px 0;
    height: 100%;
}


.container {
    margin: 0 60px;
    margin-bottom: 0;
    position: relative;
}

.container::after {
    content: '';
    background-image: url(../images/pattern-curve.svg);
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    margin-left: -60px;
    margin-bottom: -58px;
    z-index: -1;
}

.slider-image-container {
    position: relative;
    padding: 23px;
    padding-bottom: 15px;
    background: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.slider-image-container > img {
    width: 100%;
    border-radius: 10px;
}

.btn-container {
    position: absolute;
    background-color: #fff;
    border-radius: 22px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    bottom: 0;
    left: 35%;
}

#prev {
    padding-right: 15px;
    width: 10px;
    height: 12px;
}
#next {
    padding-left: 15px;
    width: 10px;
    height: 12px;
}


.testimonial {
    text-align: center;
    padding-top: 40px;
    background: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: 50px 40px;

}

.testimonial-paragraph{
    font-size: 1.05rem;
    
}

.testimonial > span {
    color: hsl(240, 18%, 77%);
    font-size: 13px;
    font-weight: 500;
}

.attribution { font-size: 11px; text-align: center; padding-top: 30px; }
.attribution a { color: hsl(228, 45%, 44%); }


/*----------------- Animation of the Slider ---------------------*/


.fade {
    animation-name: fade;
    animation-duration: 2s;
    
}

@keyframes fade {
    from {
        opacity: .3;
    }
    to {
        opacity: 1;
    }
}